# Игнорировать виртуальное окружение
.venv/

# Игнорировать настройки PyCharm
.idea/

# Игнорировать скомпилированные файлы Python
*.pyc
__pycache__/

# Игнорировать переменные окружения и конфиденциальные данные
*.env